section #first {
  background-color: purple;
}

.third p {
  color: aqua;
}

#second + p {
  background-color: royalblue;
}
.third + p {
  background-color: gold;
}

#first ~ p {
  color: orangered;
}
